<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <% include ../../partials/menubar%>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <% include ../../partials/sidebar%>
            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h4 style="text-align: left;">Overview</h4>
                <h3 style="text-align: left;">

                    <small class="text-muted"> Project Name : <%=nameProject.name%> </small>
                </h3>
                <hr>

                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="card issue-tracker">
                            <div class="card-header text-white bg-dark">
                                <h5>Issue Tracker</h5>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item ">
                                            <div class="row">
                                                <h6 class="col" style="text-align: left;">Bug</h6>
                                                <div style="text-align: right;">
                                                    <h6><span style="text-align: right;">
                                                        <%=bugOpen%> Open/<%=bugTotal%>
                                                        </span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <h6 class="col" style="text-align: left;">Feature</h6>
                                                <div style="text-align: right;">
                                                    <h6><span style="text-align: right;">
                                                        <%=featureOpen%> Open/<%=featureTotal%>
                                                        </span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <h6 class="col" style="text-align: left;">Support</h6>
                                                <div style="text-align: right;">
                                                    <h6><span style="text-align: right;">
                                                        <%=supportOpen%> Open/<%=supportTotal%>
                                                        </span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="card issue-tracker">
                            <div class="card-header text-white bg-dark">
                                <h5>Members</h5>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <% members.forEach((item, index) => {  %>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <h6 class="col" style="text-align: left; font-weight: bolder;">
                                                    <%=item.firstname + ' ' + item.lastname%> </h6>
                                                <span 
                                                    style="text-align: right;"><%=item.role%> </span>
                                            </div>
                                        </li>
                                        <%   }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>